{% extends 'base.html' %}

{% block 'contents' %}

<div class="container">
  <div class="row">
    <div class="col">

        <h2>Events</h2>

        <dl>
        {% for event in object_list %}
            <dt>
                <a href="{% url 'event-detail' event.id %}">{{ event.title }}</a>
            </dt>
            <dd>
                {{ event.description }}<br/>
                {{ event.eventtype.name }}<br/>
                at: {{ event.timestamp.stamp }}<br/>
                loc: {{ event.location.name }}<br/>
            </dd>
        {% endfor %}
        </dl>

    </div>
  </div>
</div>



{% endblock %}
