{% extends 'base.html' %}

{% block 'contents' %}

<div class="container">
  <div class="row">
    <div class="col">
        <h2>{% if form.instance.id %}Edit{% else %}Create{% endif %} Event</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="float-right">
                <button class="btn btn-primary" type="submit">{% if form.instance.id %}Update{% else %}Create{% endif %}</button>
            </div>
        </form>
    </div>
  </div>
</div>



{% endblock %}
