{% extends 'base.html' %}

{% block 'contents' %}

<div class="container">
  <div class="row">
    <div class="col">
        <div class="float-right">
            <a href="{% url 'event-update' event.id %}">Update</a>
        </div>
        <h1>{{ object.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ event.description }}</td>
                </tr>
                <tr>
                    <th>Event Type</th>
                    <td>{{ event.eventtype.name }}</td>
                </tr>
                <tr>
                    <th>When</th>
                    <td>{{ event.timestamp.stamp }}</td>
                </tr>
                <tr>
                    <th>Where</th>
                    <td>{{ event.location.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>



{% endblock %}
